[submodule "Engine/ThirdParty/glew"]
    active = true
    url = https://github.com/nigels-com/glew.git
[submodule "Engine/ThirdParty/glfw"]
    active = true
    url = https://github.com/glfw/glfw.git
[submodule "Engine/ThirdParty/sfml"]
    active = true
    url = https://github.com/SFML/SFML.git
[submodule "Engine/ThirdParty/imgui"]
    path = Engine/ThirdParty/imgui
    url = https://github.com/ocornut/imgui.git
[submodule "Engine/ThirdParty/imgui-sfml"]
    path = Engine/ThirdParty/imgui-sfml
    url = https://github.com/SFML/imgui-sfml.git